/* Global Styles */  /*originaal*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

/* Card Styles */
.nasa-news-card {
  margin: 20px;
  width: 95%; /* Ancho del 95% */
  max-width: 95%; /* Máximo ancho del 95% */
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  background: #ffffff;
  position: relative;
}

.nasa-news-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

/* Header Styles */
.nasa-news-header {
  background: linear-gradient(45deg, #002244, #4b6cb7);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nasa-news-title {
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

mat-card-subtitle {
  font-size: 0.9em;
  color: #cccccc;
}

/* Content Styles */
.nasa-news-content {
  padding: 30px;
}

.nasa-news-content-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #003366;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.nasa-news-content p {
  font-size: 1.1em;
  line-height: 1.8;
  color: #333333;
  margin-bottom: 20px;
  text-align: justify;
}

.nasa-news-author {
  font-weight: bold;
  color: #555555;
  margin-top: 20px;
  border-top: 1px solid #dddddd;
  padding-top: 10px;
}

/* Image and Video Styles */
.nasa-news-image, .nasa-news-video {
  padding: 4px;
  width: calc(100% - 8px); /* Adjust width to account for padding */
  height: calc(100% - 8px); /* Adjust height to account for padding */
  border-top: 1px solid #dddddd;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nasa-news-card.active .nasa-news-image, .nasa-news-card.active .nasa-news-video {
  transform: scale(1.05);
  filter: brightness(110%);
  opacity: 1;
}

/* New - Image overlay styles */
.nasa-news-card::after {
  content: "";
  position: absolute;
  top: 0;
}

