<mat-card *ngIf="apodData" class="nasa-news-card" style="width: 95%">
  <mat-card-header class="nasa-news-header">
    <mat-card-title class="nasa-news-title">NASA News</mat-card-title>
    <mat-card-subtitle>{{ apodData.date | date:'mediumDate' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="nasa-news-content">
    <h2 class="nasa-news-content-title">{{ apodData.title }}</h2>
    <p>{{ apodData.explanation }}</p>
    <p class="nasa-news-author"><strong>Autor:</strong> {{ apodData.copyright }}</p>
  </mat-card-content>
  <img mat-card-image [lazyLoad]="apodData.hdurl" [alt]="apodData.title" class="nasa-news-image" style="width: 100%">
</mat-card>
