<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination pagination-lg">
    <li class="page-item" [class.disabled]="currentPage === 0">
      <a class="page-link" (click)="previousPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <ng-container *ngFor="let page of visiblePages">
      <li class="page-item d-none d-md-block" [class.active]="page === currentPage">
        <a class="page-link" (click)="specificPage(page)">{{ page + 1 }}</a>
      </li>
    </ng-container>
    <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
      <a class="page-link" (click)="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
