
<main id="main">
  <p>YO SOY LA NASA</p>


  <div class="card-container">
    <div *ngFor="let item of epicData" class="card">
      <div class="card-image">
        <img [src]="item.imageUrl" class="card-img-top" alt="Imagen EPIC">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ item.identifier }}</h5>
        <p class="card-text">{{ item.caption }}</p>
        <p class="card-text"><small class="text-muted">Date: {{ item.date }}</small></p>
      </div>
    </div>
  </div>



</main>
