
<main id="main">


  <nav class="galaxy-navbar navbar navbar-expand-lg d-flex justify-content-end">
    <div class="container-fluid">
      <a class="navbar-brand" href="/nasa">
        <img src="/assets/img/nasa/icons8-nasa-480.png" class="galaxy-logo" alt="NASA Logo">
        EXPLOREMOS EL UNIVERSO JUNTOS.
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="galaxy-navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/nasa/Epic">EPIC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nasa/TechTransfer">TECH-TRANSFER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="nasa/APOD">APOD</a>
          </li>

        </ul>
        <!-- <form class="d-flex m-1">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light galaxy-btn" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>




 <router-outlet></router-outlet>





</main>
