<main id="main">
  <!-- ======= Sección de Resumen ======= -->
  <section id="resume" class="resume">
   <div class="container">

     <div class="section-title">
       <h2 class="mayus">Formación Académica</h2>
       <p class="paragraphS">Busco ser emprendedor en la generación de soluciones tecnológicas de sistemas de información con la calidad requerida, mejorando los procesos estratégicos y operativos de las organizaciones.</p>
     </div>

     <div class="row">
       <div class="col-lg-6" data-aos="fade-up">
         <h3 class="resume-title">Perfil</h3>
         <div class="resume-item pb-0">
           <h4>Juan Arturo Galindo Pérez</h4>
           <p>Desarrollador Front-end especializado en Angular con experiencia en el diseño 
             de interfaces innovadoras y centradas en el usuario. He trabajado en proyectos 
             de diseño Front-end durante los últimos meses, donde he aplicado mis habilidades 
             en Angular para crear experiencias de usuario intuitivas y atractivas.</p>
           <ul>
             <li>Tlaxcala</li>
             <li>246-196-93-62</li>
             <li>JuanArturoGP2024&#64;hotmail.com</li>
           </ul>
         </div>

         <h3 class="resume-title">Educación </h3>
         <div class="resume-item">
           <h4>Ingeniería en Tecnologías de la Información</h4>
           <h5>2018 - 2022 </h5>
           <p><em>Universidad Politécnica de Tlaxcala</em></p>
           <p>El objetivo de la carrera es formar ingenieros para la práctica exitosa de las 
             Tecnologías de Información en el diseño, desarrollo, implementación y administración
              de soluciones modernas para el logro de las metas organizacionales con dimensión social. </p>
         </div>
         <div class="resume-item">
           <h4>Preparatoria con Especialidad en Informática</h4>
           <h5>2015 - 2018</h5>
           <p><em>Colegio de Bachilleres del Estado de Tlaxcala Plantel 01 "El Sabinal"</em></p>
           <p>La especialidad en informática en la preparatoria proporciona una introducción básica pero sólida a 
             los conceptos y habilidades informáticas fundamentales, preparando a los estudiantes para 
             continuar sus estudios en áreas relacionadas con la tecnología de la información o 
             ingresar al campo laboral en roles técnicos de nivel inicial.</p>
         </div>
       </div>
       <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
         <h3 class="resume-title">Experiencia Profesional</h3>
         <div class="resume-item">
           <h4>Desarrollador Freelancer</h4>
           <h5>agosto 2023 - marzo 2024</h5>
           <p><em>Tlaxcala, México </em></p>
           <ul>
             <li>Implementación de interfaces responsivas.</li>
             <li>Uso de la biblioteca Bootstrap V para diseños más dinámicos en las páginas web.</li>
             <li>Implementación de una API específica dentro de proyectos.</li>
             <li>Uso correcto de servicios REST o API RESTful.</li>
           </ul>
         </div>
         <div class="resume-item">
           <h4>Desarrollador Front-end</h4>
           <h5>mayo 2023 – julio 2023</h5>
           <p><em>JPR consulting • Tlaxcala, México</em></p>
           <ul>
             <li>Desarrollo usando Angular como framework principal.</li>
             <li>Maquetación de diferentes interfaces.</li>
             <li>Uso de HTML, CSS, TypeScript, Bootstrap.</li>
           </ul>
         </div>

         <div class="resume-item">
           <h4>Ingeniero en Redes</h4>
           <h5>enero 2022 - diciembre 2022</h5>
           <p><em>GRUPO AGA 2000 • Tlaxcala, México</em></p>
           <ul>
             <li>Instalación de puntos de acceso.</li>
             <li>Preparación de fibra óptica.</li>
             <li>Gestión de equipos de red por medio del controlador Ubiquiti.</li>
           </ul>
         </div>
       </div>
     </div>

   </div>
 </section><!-- Fin de la Sección de Resumen -->

</main>
