<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12 mb-4" *ngFor="let item of pagedResults; let i = index">
      <div [ngClass]="{'flex-row': i % 2 === 0, 'flex-row-reverse': i % 2 !== 0}" class="card">
        <img class="card-img-left" [src]="item.imageUrl" alt="{{ item.title | stripHtmlTags }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.title | stripHtmlTags }}</h5>
          <p class="card-text">{{ item.description | stripHtmlTags }}</p>
          <small class="text-muted">Category: {{ item.category }}</small>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- PAGINACION -->
<app-paginator
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  [visiblePages]="visiblePages"
  (pageChange)="onPageChange($event)">
</app-paginator>

