<!-- ======= Header ======= -->
<section id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/assets/img/yo_com.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="/home">Juan Arturo</a></h1>
        <div class="social-links mt-3 text-center">
          <a  [tooltip]="hotmail"><i class="bi bi-envelope-at-fill"></i></a>
          <a  [tooltip]="github"><i class="bi bi-github"></i></a>
          <a  [tooltip]="gamil"><i class="bi bi-google size"></i></a>
          <a [href]="whatsapp" class=""><i class="bi bi-whatsapp"></i></a>




          <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
        </div>

      </div>

      <nav id="navbar" class="nav-menu navbar mayus">
        <ul>

          <li><a href="/home" class="nav-link scrollto "><i class="bx bx-home"></i> <span>Inicio</span></a></li>
          <li><a href="/about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Acerca de mi</span></a></li>
          <li><a href="/resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Formación Académica </span></a></li>
          <li><a href="/skills" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Habilidades</span></a></li>
          <li><a href="/nasa" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Api Nasa</span></a></li>
          <li><a href="/pokedex" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Api Pokemon</span></a></li>
          <!-- <li><a href="/chatbot" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>chatbot</span></a></li> -->
          <li><a href="/contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
</section><!-- End Header -->
