<main id="main">

    <!-- ======= skills Section ======= -->
    <section id="skills" class="services m-3 textj">
        <div class="container">

          <div class="section-title">
            <h2 class="mayus">Habilidades Técnicas</h2>
            <p>En estos meses en que he podido trabajar en diferentes proyectos,
               me ha permitido comprender mejor una serie de tecnologías,
                para el buen desarrollo de software siguiendo la arquitectura
                 modelo vista controlador (MVC).</p>

        </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" >
             <div class="icon"> <i class="fa-brands fa-angular"></i></div>
              <h4 class="title"><a href="">Angular</a></h4>
              <p class="description">Framework para aplicaciones web desarrollado en TypeScript, de código abierto.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" >
              <div class="icon"><i class="bi bi-bootstrap"></i></div>
              <h4 class="title"><a href="">Bootstrap</a></h4>
              <p class="description">Es una biblioteca multiplataforma o conjunto de herramientas de código abierto para diseño de sitios y aplicaciones web</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" >
              <div class="icon"><i class="fa fa-cogs"></i></div>
              <h4 class="title"><a href="">TypeScript</a></h4>
              <p class="description">lenguaje de programación libre y de código abierto desarrollado y mantenido por Microsoft, es un superconjunto de JavaScript.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="fa fa-tablet"></i></div>
              <h4 class="title"><a href="">Diseño web adaptable</a></h4>
              <p class="description">Es una filosofía de diseño y desarrollo cuyo objetivo es adaptar la apariencia de las páginas web al dispositivo que se esté utilizando para visitarlas.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" >
              <div class="icon"><i class="bi bi-link"></i></div>
              <h4 class="title"><a href="">API RESTful</a></h4>
              <p class="description">Es una interfaz que dos sistemas de computación utilizan para intercambiar información de manera segura a través de Internet.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" >
              <div class="icon"><i class="fas fa-database"></i></div>
              <h4 class="title"><a href="">MCV</a></h4>
              <p class="description">Patrón de diseño de software que separa los modelos de presentación, lógica de negocio y manipulación de datos. </p>
            </div>

          </div>

        </div>
      </section><!-- End skills Section -->
</main>
